@keyframes float-up {
    from {
        top: 120%;
        opacity: 0;
    }

    to {
        top: 100%;
        opacity: 1;
    }
}

.selector {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 0;
    margin: 0;
<<<<<<< HEAD
    font-size: 1.2ch;
=======
    font-size: 1.5rem;
>>>>>>> 109bec01d2f510d73d8e893a58382c35546e732a
    
    border-bottom: 1px solid rgba(85, 85, 85, 0.253);

    .label {
        font-size: 1em;
        flex-wrap: nowrap;
        text-align: center;
        border-right: 2px solid black;
<<<<<<< HEAD
        padding: 0.5em;
=======
        padding: 0.5rem;
>>>>>>> 109bec01d2f510d73d8e893a58382c35546e732a
    }

    .nav-bar {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        .nav-item {
            margin-left: 0.5em;
            margin-right: 0.5em;
            padding: 0.2em;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.808);
            position: relative;
            justify-content: center;
            display: flex;
            text-align: center;

            .label {
                border: none;
                width: 100%;
                text-align: center;
            }

            .items {
                display: none;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: white;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.192);
<<<<<<< HEAD
                padding: 1em;
=======
                padding: 1rem;
>>>>>>> 109bec01d2f510d73d8e893a58382c35546e732a
                left: 50%;
                top: 110%;
                transform: translate(-50%, 0);
                flex-wrap: wrap;
                width: 100%;
<<<<<<< HEAD
                z-index: 1;
=======
>>>>>>> 109bec01d2f510d73d8e893a58382c35546e732a
                
                .item {
                    flex-basis: 100%;
                    width: 100%;
                    box-sizing: border-box;
<<<<<<< HEAD
                    margin: 0.2em 0.1em;
=======
                    margin: 0.2rem 0.1rem;
>>>>>>> 109bec01d2f510d73d8e893a58382c35546e732a
                    color: rgba(0, 0, 0, 0.808);
                }
                
                .item:hover {
                    background-color: #ffdbdcf8;
                    color: #c42326;
                }
            }
        }

        .nav-item::before {
            content: '';
            left: 0;
            top: 100%;
            width: 100%;
            height: 0.1em;
            visibility: hidden;
            position: absolute;
            background-color: #c42326;
        }

        .nav-item:hover {
            color: #c42326;

            .items {
                display: flex;
            }
        }
        
        .nav-item:hover::before {
            visibility: visible;
<<<<<<< HEAD
            animation: 0.2s float-up forwards;
=======
            animation: 0.5s float-up forwards;
>>>>>>> 109bec01d2f510d73d8e893a58382c35546e732a
        }
    }
}
